@import url('/dashboard/css/main.css');

/*Dimensiones de fuente*/
.texto_nivel_01 {
	font-size: var(--size-fuente-lvl-01);
}

.texto_nivel_02 {
	font-size: var(--size-fuente-lvl-02);
}

.texto_nivel_03 {
	font-size: var(--size-fuente-lvl-03);
}

.texto_nivel_04 {
	font-size: var(--size-fuente-lvl-04);
}

.texto_nivel_normal {
	font-size: var(--size-fuente-normal);
}

.texto_nivel_legal {
	font-size: var(--size-fuente-legal);
}

/*Estilos del texto*/
.texto_estilo_negritas {
	font-weight: 600;
}

/*Gradientes*/
.color_gradiente_01 {
	background: var(--color-base-01);
	background: -moz-linear-gradient(-45deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-01)), color-stop(100%, var(--color-base-02)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
	background: linear-gradient(135deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
}

.color_gradiente_02 {
	background: var(--color-base-03);
	background: -moz-linear-gradient(-45deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-03)), color-stop(100%, var(--color-base-04)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
	background: linear-gradient(135deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
}

.color_gradiente_03 {
	background: var(--color-base-05);
	background: -moz-linear-gradient(-45deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-05)), color-stop(100%, var(--color-base-06)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
	background: linear-gradient(135deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
}

.color_gradiente_04 {
	background: var(--color-base-07);
	background: -moz-linear-gradient(-45deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-07)), color-stop(100%, var(--color-base-08)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
	background: linear-gradient(135deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
}

.color_gradiente_05 {
	background: var(--color-base-09);
	background: -moz-linear-gradient(-45deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-09)), color-stop(100%, var(--color-base-10)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
	background: linear-gradient(135deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
}

.color_gradiente_06 {
	background: var(--color-base-11);
	background: -moz-linear-gradient(-45deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-11)), color-stop(100%, var(--color-base-12)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
	background: linear-gradient(135deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
}

.color_gradiente_07 {
	background: var(--color-base-13);
	background: -moz-linear-gradient(-45deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-13)), color-stop(100%, var(--color-base-14)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
	background: linear-gradient(135deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
}

.color_gradiente_08 {
	background: var(--color-base-15);
	background: -moz-linear-gradient(-45deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-15)), color-stop(100%, var(--color-base-16)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
	background: linear-gradient(135deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
}

.color_gradiente_09 {
	background: var(--color-base-17);
	background: -moz-linear-gradient(-45deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-17)), color-stop(100%, var(--color-base-18)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
	background: linear-gradient(135deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
}

.color_gradiente_10 {
	background: var(--color-base-19);
	background: -moz-linear-gradient(-45deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-19)), color-stop(100%, var(--color-base-20)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
	background: linear-gradient(135deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
}

.color_gradiente_11 {
	background: var(--color-base-21);
	background: -moz-linear-gradient(-45deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-21)), color-stop(100%, var(--color-base-22)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
	background: linear-gradient(135deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
}

.color_gradiente_12 {
	background: var(--color-base-23);
	background: -moz-linear-gradient(-45deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-23)), color-stop(100%, var(--color-base-24)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
	background: linear-gradient(135deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
}

/*Colores como propiedades*/
.color_texto_primario { color: var(--color-primario); }
.color_texto_secundario { color: var(--color-secundario); }
.color_texto_terciario { color: var(--color-terciario); }
.color_texto_claro { color: var(--color-claro); }
.color_texto_claro_contraste { color: var(--color-claro-contraste); }
.color_texto_oscuro { color: var(--color-oscuro); }
.color_texto_oscuro_contraste { color: var(--color-oscuro-contraste); }
.color_texto_01 { color: var(--color-base-01); }
.color_texto_02 { color: var(--color-base-02); }
.color_texto_03 { color: var(--color-base-03); }
.color_texto_04 { color: var(--color-base-04); }
.color_texto_05 { color: var(--color-base-05); }
.color_texto_06 { color: var(--color-base-06); }
.color_texto_07 { color: var(--color-base-07); }
.color_texto_08 { color: var(--color-base-08); }
.color_texto_09 { color: var(--color-base-09); }
.color_texto_10 { color: var(--color-base-10); }
.color_texto_11 { color: var(--color-base-11); }
.color_texto_12 { color: var(--color-base-12); }
.color_texto_13 { color: var(--color-base-13); }
.color_texto_14 { color: var(--color-base-14); }
.color_texto_15 { color: var(--color-base-15); }
.color_texto_16 { color: var(--color-base-16); }
.color_texto_17 { color: var(--color-base-17); }
.color_texto_18 { color: var(--color-base-18); }
.color_texto_19 { color: var(--color-base-19); }
.color_texto_20 { color: var(--color-base-20); }
.color_texto_21 { color: var(--color-base-21); }
.color_texto_22 { color: var(--color-base-22); }
.color_texto_23 { color: var(--color-base-23); }
.color_texto_24 { color: var(--color-base-24); }

/*Colores como fondos*/
.color_fondo_primario { background-color: var(--color-primario); }
.color_fondo_secundario { background-color: var(--color-secundario); }
.color_fondo_terciario { background-color: var(--color-terciario); }
.color_fondo_claro { background-color: var(--color-claro); }
.color_fondo_claro_contraste { background-color: var(--color-claro-contraste); }
.color_fondo_oscuro { background-color: var(--color-oscuro); }
.color_fondo_oscuro_contraste { background-color: var(--color-oscuro_contraste); }
.color_fondo_01 { background-color: var(--color-base-01); }
.color_fondo_02 { background-color: var(--color-base-02); }
.color_fondo_03 { background-color: var(--color-base-03); }
.color_fondo_04 { background-color: var(--color-base-04); }
.color_fondo_05 { background-color: var(--color-base-05); }
.color_fondo_06 { background-color: var(--color-base-06); }
.color_fondo_07 { background-color: var(--color-base-07); }
.color_fondo_08 { background-color: var(--color-base-08); }
.color_fondo_09 { background-color: var(--color-base-09); }
.color_fondo_10 { background-color: var(--color-base-10); }
.color_fondo_11 { background-color: var(--color-base-11); }
.color_fondo_12 { background-color: var(--color-base-12); }
.color_fondo_13 { background-color: var(--color-base-13); }
.color_fondo_14 { background-color: var(--color-base-14); }
.color_fondo_15 { background-color: var(--color-base-15); }
.color_fondo_16 { background-color: var(--color-base-16); }
.color_fondo_17 { background-color: var(--color-base-17); }
.color_fondo_18 { background-color: var(--color-base-18); }
.color_fondo_19 { background-color: var(--color-base-19); }
.color_fondo_20 { background-color: var(--color-base-20); }
.color_fondo_21 { background-color: var(--color-base-21); }
.color_fondo_22 { background-color: var(--color-base-22); }
.color_fondo_23 { background-color: var(--color-base-23); }
.color_fondo_24 { background-color: var(--color-base-24); }