@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=latin-ext');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
}

:root {
	/*Colores*/
	--color-primario: #618EFF;
	--color-secundario: #3BD0EB;
	--color-terciario: #000000;
	--color-claro: #FFFFFF;
	--color-claro-contraste: #FCFCFC;
	--color-oscuro: #787993;
	--color-oscuro-contraste: #444444;

	/*Colores generales como recursos*/
	--color-base-01: #F18DEA;
	--color-base-02: #F45C78;
	--color-base-03: #FDEA91;
	--color-base-04: #FF92B0;
	--color-base-05: #DAC4FD;
	--color-base-06: #94C5FD;
	--color-base-07: #FCFAFA;
	--color-base-08: #ECEEEF;
	--color-base-09: #85EFFE;
	--color-base-10: #68ABFF;
	--color-base-11: #84F1BE;
	--color-base-12: #97C4E5;
	--color-base-13: #85F6B6;
	--color-base-14: #8ED5F0;
	--color-base-15: #AEBBF4;
	--color-base-16: #F0848C;
	--color-base-17: #F8C292;
	--color-base-18: #D782E4;
	--color-base-19: #CEF97C;
	--color-base-20: #99E79E;
	--color-base-21: #F7CF68;
	--color-base-22: #FDA284;
	--color-base-23: #A4C7FC;
	--color-base-24: #C0E8FB;

	/*Dimensiones*/
	--size-ancho-menu-lateral: 250px;
	--size-alto-titulo-marca: 100px;
	--size-border-radius: 10px;
	--size-u1: 10px;
	--size-u2: 20px;
	--size-u3: 30px;
	--size-u4: 40px;
	--size-u5: 50px;
	--size-u6: 60px;
	--size-u7: 70px;
	--size-u8: 80px;
	--size-u9: 90px;
	--size-u0: 100px;
	--size-fuente-lvl-01: 19px;
	--size-fuente-lvl-02: 17px;
	--size-fuente-lvl-03: 15px;
	--size-fuente-lvl-04: 13px;
	--size-fuente-normal: 12px;
	--size-fuente-legal: 10px;

	/*Sombras*/
	--sombra-insensidad: rgba(0, 0, 0, 0.25);
	--sombra-derecha: 0px 0px 5px var(--sombra-insensidad);

	/*Tamaño de bordes*/
	--borde-size-general: 1px;
	--borde-color-general: rgba(0, 0, 0, 0.1);

	/*Transiciones*/
	--transicion: all ease 0.25s;
}

/*Generales*/
.alineador_horizontal {
	display: flex;
	width: 100%;
	height: 100%;
}

.alineador_de_malla {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.borde_inferior {
	border-bottom: var(--borde-size-general) solid var(--borde-color-general);
}

.contenedor_general {
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-claro-contraste);
}

	.menu_lateral {
		width: var(--size-ancho-menu-lateral);
		height: 100%;
		background-color: var(--color-claro);
		box-shadow: var(--sombra-derecha);
	}

		.espacio_marca {
			display: block;
			height: 100px;
			padding: var(--size-u3);
		}

			.espacio_marca .contenedor_logotipo {
				height: 40px;
				width: 40px;
				overflow: hidden;
			}

			.espacio_marca .contenedor_logotipo img {
				display: block;
				width: 100%;
			}

			.espacio_marca .contenedor_titulo_marca {
				height: 40px;
				width: calc(100% - 40px);
				padding-left: 20px;
				line-height: 40px;
			}

		.menu {
			display: block;
			width: var(--size-ancho-menu-lateral);
			height: calc(100% - var(--size-alto-titulo-marca));
			overflow-y: auto;
			overflow-x: hidden;
		}

			.menu .elemento {
				display: block;
				height: 60px;
				width: 100%;
				line-height: 40px;
				padding: var(--size-u1) var(--size-u3);
				transition: var(--transicion);
			}

			.menu .elemento:hover {
				background-color: var(--color-claro-contraste);
			}

			.menu .elemento a {
				color: inherit;
				display: block;
				height: 100%;
				width: 100%;
				text-decoration: none;
			}

			.menu .elemento a .icono_elemento {
				text-align: center;
				height: 40px;
				width: 40px;
			}

			.menu .elemento a .titulo_elemento {
				margin-left: 10px;
				margin-right: 10px;
				width: calc(100% - 90px);
			}

			.menu .elemento a .notificaciones_elemento {
				text-align: center;
				font-weight: bold;
				height: 30px;
				width: 30px;
				margin-top: 5px;
				margin-bottom: 5px;
				line-height: 30px;
				border-radius: 100%;
			}
				 .menu .elemento a .notificaciones_elemento p {
					display: block;
					line-height: 30px;
				 }

	/*Estados y colores*/
	.activo_bg {
		color: var(--color-claro);
		background-color: var(--color-primario);
	}

	.contenedor_datos {
		width: calc(100% - var(--size-ancho-menu-lateral));
		height: 100%;
	}

		.header {
			display: block;
			width: 100%;
			height: var(--size-alto-titulo-marca);
			padding-top: var(--size-u2);
			overflow: hidden;
		}

			.header .componentes_header {
				display: block;
				width: calc(100% - var(--size-u8));
				height: calc(var(--size-alto-titulo-marca) - var(--size-u4));
				margin-left: var(--size-u4);
			}

				.header .componentes_header .datos_usuario {
					height: 100%;
					overflow: hidden;
					grid-column-start: 1;
					grid-column-end: 5;
				}

					.header .componentes_header .datos_usuario .icono_usuario {
						cursor: pointer;
						user-select: none;
						height: 100%;
						width: calc(var(--size-alto-titulo-marca) - var(--size-u4));
						line-height: calc(var(--size-alto-titulo-marca) - var(--size-u4));
						text-align: center;
						overflow: hidden;
					}

						.header .componentes_header .datos_usuario .icono_usuario img {
							display: block;
							width: 100%;
						}

					.header .componentes_header .datos_usuario .informacion_usuario {
						width: calc(var(--size-u0) * 2);
						margin-left: var(--size-u2);
					}

						.header .componentes_header .datos_usuario .informacion_usuario p {
							display: block;
							width: 100%;
							line-height: calc((var(--size-alto-titulo-marca) - var(--size-u6))/2);
						}
						
						.header .componentes_header .datos_usuario .informacion_usuario p:first-child {
							margin-top: var(--size-u1);
						}

					.header .componentes_header .datos_usuario .icono_herramientas {
						cursor: pointer;
						user-select: none;
						width: var(--size-u2);
						line-height: calc(var(--size-alto-titulo-marca) - var(--size-u4));
						text-align: center;
					}

				.header .componentes_header .busqueda {
					height: 100%;
					overflow: hidden;
					grid-column-start: 6;
					grid-column-end: 10;
				}

					.header .componentes_header .busqueda input[type="text"] {
						margin-top: var(--size-u1);
						background-color: transparent;
						outline: none;
						border: solid var(--borde-size-general) var(--borde-color-general);
						padding: 0px var(--size-u1);
						line-height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						width: calc(var(--size-u0) * 3);
						border-top-left-radius: var(--size-u2);
						border-bottom-left-radius: var(--size-u2);
					}

					.header .componentes_header .busqueda .contenedor_icono {
						margin-top: var(--size-u1);
						cursor: pointer;
						user-select: none;
						text-align: center;
						height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						line-height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						width: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						border-top-right-radius: var(--size-u2);
						border-bottom-right-radius: var(--size-u2);
					}

				.header .componentes_header .notificaciones {
					cursor: pointer;
					user-select: none;
					text-align: center;
					height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
					line-height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
					margin-top: var(--size-u1);
					grid-column-start: 12;
					grid-column-end: 12;
				}

					.header .componentes_header .notificaciones i {
						display: block;
						width: 100%;
						height: 100%;
						line-height: inherit;
					}

		.contenedor_secciones {
			display: block;
			width: 100%;
			height: calc(100% - var(--size-alto-titulo-marca));
		}