@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=latin-ext');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
}

:root {
	/*Colores*/
	--color-primario: #618EFF;
	--color-secundario: #3BD0EB;
	--color-terciario: #000000;
	--color-claro: #FFFFFF;
	--color-claro-contraste: #FCFCFC;
	--color-oscuro: #787993;
	--color-oscuro-contraste: #444444;
	--color-deshabilitado: #E9E9E9;

	/*Colores generales como recursos*/
	--color-base-01: #F18DEA;
	--color-base-02: #F45C78;
	--color-base-03: #FDEA91;
	--color-base-04: #FF92B0;
	--color-base-05: #DAC4FD;
	--color-base-06: #94C5FD;
	--color-base-07: #FCFAFA;
	--color-base-08: #ECEEEF;
	--color-base-09: #85EFFE;
	--color-base-10: #68ABFF;
	--color-base-11: #84F1BE;
	--color-base-12: #97C4E5;
	--color-base-13: #85F6B6;
	--color-base-14: #8ED5F0;
	--color-base-15: #AEBBF4;
	--color-base-16: #F0848C;
	--color-base-17: #F8C292;
	--color-base-18: #D782E4;
	--color-base-19: #CEF97C;
	--color-base-20: #99E79E;
	--color-base-21: #F7CF68;
	--color-base-22: #FDA284;
	--color-base-23: #A4C7FC;
	--color-base-24: #C0E8FB;

	/*Dimensiones*/
	--size-scrollbar: 6px;
	--size-ancho-menu-lateral: 250px;
	--size-alto-titulo-marca: 100px;
	--size-border-radius: 10px;
	--size-u05: 5px;
	--size-u1: 10px;
	--size-u2: 20px;
	--size-u3: 30px;
	--size-u4: 40px;
	--size-u5: 50px;
	--size-u6: 60px;
	--size-u7: 70px;
	--size-u8: 80px;
	--size-u9: 90px;
	--size-u0: 100px;
	--size-fuente-lvl-01: 19px;
	--size-fuente-lvl-02: 17px;
	--size-fuente-lvl-03: 15px;
	--size-fuente-lvl-04: 13px;
	--size-fuente-normal: 12px;
	--size-fuente-legal: 10px;

	/*Sombras*/
	--sombra-insensidad: rgba(0, 0, 0, 0.25);
	--sombra-derecha: 0px 0px 6px var(--sombra-insensidad);
	--sombra: 0px 0px 6px 0px var(--sombra-insensidad);

	/*Tamaño de bordes*/
	--borde-size-general: 1px;
	--borde-size-scrollbar: 3px;
	--borde-color-general: rgba(0, 0, 0, 0.1);

	/*Transiciones*/
	--transicion: all ease 0.25s;
}

/*Scroll*/
::-webkit-scrollbar {
	width: var(--size-scrollbar);
}

::-webkit-scrollbar-track {
	background: var(--color-deshabilitado);
	border-radius: var(--borde-size-scrollbar);
}

::-webkit-scrollbar-thumb {
	background: var(--color-oscuro);
	border-radius: var(--borde-size-scrollbar);
}

/*Dimensiones de fuente*/
.texto_nivel_01 {
	font-size: var(--size-fuente-lvl-01);
}

.texto_nivel_02 {
	font-size: var(--size-fuente-lvl-02);
}

.texto_nivel_03 {
	font-size: var(--size-fuente-lvl-03);
}

.texto_nivel_04 {
	font-size: var(--size-fuente-lvl-04);
}

.texto_nivel_normal {
	font-size: var(--size-fuente-normal);
}

.texto_nivel_legal {
	font-size: var(--size-fuente-legal);
}

/*Estilos del texto*/
.texto_estilo_negritas {
	font-weight: 600;
}

/*Alineaciones*/
.texto_centrado {
	text-align: center;
}

.texto_izquierda {
	text-align: left;
}

.texto_derecha {
	text-align: right;
}

.texto_justificado {
	text-align: justify;
}

.texto_mediano {
	font-size: var(--size-u4);
}

.texto_grande {
	font-size: var(--size-u6);
}

/*Opacidades*/
.opacidad_media {
	opacity: 50%;
}

/*Gradientes*/
.color_gradiente_01 {
	background: var(--color-base-01);
	background: -moz-linear-gradient(-45deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-01)), color-stop(100%, var(--color-base-02)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
	background: linear-gradient(135deg, var(--color-base-01) 0%, var(--color-base-02) 100%);
}

.color_gradiente_02 {
	background: var(--color-base-03);
	background: -moz-linear-gradient(-45deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-03)), color-stop(100%, var(--color-base-04)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
	background: linear-gradient(135deg, var(--color-base-03) 0%, var(--color-base-04) 100%);
}

.color_gradiente_03 {
	background: var(--color-base-05);
	background: -moz-linear-gradient(-45deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-05)), color-stop(100%, var(--color-base-06)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
	background: linear-gradient(135deg, var(--color-base-05) 0%, var(--color-base-06) 100%);
}

.color_gradiente_04 {
	background: var(--color-base-07);
	background: -moz-linear-gradient(-45deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-07)), color-stop(100%, var(--color-base-08)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
	background: linear-gradient(135deg, var(--color-base-07) 0%, var(--color-base-08) 100%);
}

.color_gradiente_05 {
	background: var(--color-base-09);
	background: -moz-linear-gradient(-45deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-09)), color-stop(100%, var(--color-base-10)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
	background: linear-gradient(135deg, var(--color-base-09) 0%, var(--color-base-10) 100%);
}

.color_gradiente_06 {
	background: var(--color-base-11);
	background: -moz-linear-gradient(-45deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-11)), color-stop(100%, var(--color-base-12)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
	background: linear-gradient(135deg, var(--color-base-11) 0%, var(--color-base-12) 100%);
}

.color_gradiente_07 {
	background: var(--color-base-13);
	background: -moz-linear-gradient(-45deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-13)), color-stop(100%, var(--color-base-14)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
	background: linear-gradient(135deg, var(--color-base-13) 0%, var(--color-base-14) 100%);
}

.color_gradiente_08 {
	background: var(--color-base-15);
	background: -moz-linear-gradient(-45deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-15)), color-stop(100%, var(--color-base-16)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
	background: linear-gradient(135deg, var(--color-base-15) 0%, var(--color-base-16) 100%);
}

.color_gradiente_09 {
	background: var(--color-base-17);
	background: -moz-linear-gradient(-45deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-17)), color-stop(100%, var(--color-base-18)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
	background: linear-gradient(135deg, var(--color-base-17) 0%, var(--color-base-18) 100%);
}

.color_gradiente_10 {
	background: var(--color-base-19);
	background: -moz-linear-gradient(-45deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-19)), color-stop(100%, var(--color-base-20)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
	background: linear-gradient(135deg, var(--color-base-19) 0%, var(--color-base-20) 100%);
}

.color_gradiente_11 {
	background: var(--color-base-21);
	background: -moz-linear-gradient(-45deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-21)), color-stop(100%, var(--color-base-22)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
	background: linear-gradient(135deg, var(--color-base-21) 0%, var(--color-base-22) 100%);
}

.color_gradiente_12 {
	background: var(--color-base-23);
	background: -moz-linear-gradient(-45deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--color-base-23)), color-stop(100%, var(--color-base-24)));
	background: -webkit-linear-gradient(-45deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
	background: -o-linear-gradient(-45deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
	background: -ms-linear-gradient(-45deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
	background: linear-gradient(135deg, var(--color-base-23) 0%, var(--color-base-24) 100%);
}

/*Colores como propiedades*/
.color_texto_primario { color: var(--color-primario); }
.color_texto_secundario { color: var(--color-secundario); }
.color_texto_terciario { color: var(--color-terciario); }
.color_texto_claro { color: var(--color-claro); }
.color_texto_claro_contraste { color: var(--color-claro-contraste); }
.color_texto_oscuro { color: var(--color-oscuro); }
.color_texto_oscuro_contraste { color: var(--color-oscuro-contraste); }
.color_texto_01 { color: var(--color-base-01); }
.color_texto_02 { color: var(--color-base-02); }
.color_texto_03 { color: var(--color-base-03); }
.color_texto_04 { color: var(--color-base-04); }
.color_texto_05 { color: var(--color-base-05); }
.color_texto_06 { color: var(--color-base-06); }
.color_texto_07 { color: var(--color-base-07); }
.color_texto_08 { color: var(--color-base-08); }
.color_texto_09 { color: var(--color-base-09); }
.color_texto_10 { color: var(--color-base-10); }
.color_texto_11 { color: var(--color-base-11); }
.color_texto_12 { color: var(--color-base-12); }
.color_texto_13 { color: var(--color-base-13); }
.color_texto_14 { color: var(--color-base-14); }
.color_texto_15 { color: var(--color-base-15); }
.color_texto_16 { color: var(--color-base-16); }
.color_texto_17 { color: var(--color-base-17); }
.color_texto_18 { color: var(--color-base-18); }
.color_texto_19 { color: var(--color-base-19); }
.color_texto_20 { color: var(--color-base-20); }
.color_texto_21 { color: var(--color-base-21); }
.color_texto_22 { color: var(--color-base-22); }
.color_texto_23 { color: var(--color-base-23); }
.color_texto_24 { color: var(--color-base-24); }

/*Colores como fondos*/
.color_fondo_primario { background-color: var(--color-primario); }
.color_fondo_secundario { background-color: var(--color-secundario); }
.color_fondo_terciario { background-color: var(--color-terciario); }
.color_fondo_claro { background-color: var(--color-claro); }
.color_fondo_claro_contraste { background-color: var(--color-claro-contraste); }
.color_fondo_oscuro { background-color: var(--color-oscuro); }
.color_fondo_oscuro_contraste { background-color: var(--color-oscuro_contraste); }
.color_fondo_01 { background-color: var(--color-base-01); }
.color_fondo_02 { background-color: var(--color-base-02); }
.color_fondo_03 { background-color: var(--color-base-03); }
.color_fondo_04 { background-color: var(--color-base-04); }
.color_fondo_05 { background-color: var(--color-base-05); }
.color_fondo_06 { background-color: var(--color-base-06); }
.color_fondo_07 { background-color: var(--color-base-07); }
.color_fondo_08 { background-color: var(--color-base-08); }
.color_fondo_09 { background-color: var(--color-base-09); }
.color_fondo_10 { background-color: var(--color-base-10); }
.color_fondo_11 { background-color: var(--color-base-11); }
.color_fondo_12 { background-color: var(--color-base-12); }
.color_fondo_13 { background-color: var(--color-base-13); }
.color_fondo_14 { background-color: var(--color-base-14); }
.color_fondo_15 { background-color: var(--color-base-15); }
.color_fondo_16 { background-color: var(--color-base-16); }
.color_fondo_17 { background-color: var(--color-base-17); }
.color_fondo_18 { background-color: var(--color-base-18); }
.color_fondo_19 { background-color: var(--color-base-19); }
.color_fondo_20 { background-color: var(--color-base-20); }
.color_fondo_21 { background-color: var(--color-base-21); }
.color_fondo_22 { background-color: var(--color-base-22); }
.color_fondo_23 { background-color: var(--color-base-23); }
.color_fondo_24 { background-color: var(--color-base-24); }

/*Niveles*/
.color_fondo_premium {
	background-color: var(--color-primario);
}

.color_fondo_gratuito {
	background-color: var(--color-base-16);
}

/*Generales*/
.alineador_horizontal {
	display: flex;
	width: 100%;
	height: 100%;
}

	.distribuir_horizontalmente {
		align-items: center;
		justify-content: space-between;
	}

	.centrar_verticalmente {
		align-items: center;
		justify-content: center;
	}

	.centrar_solo_verticalmente {
		align-items: center;
	}

/*Control de Overflow*/
.overflow.hidden {
	overflow: hidden;
}

.alineador_malla {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-gap: var(--size-u2);
}

.borde_inferior {
	border-bottom: var(--borde-size-general) solid var(--borde-color-general);
}

.sombra_all {
	box-shadow: var(--sombra);
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
}

.contenedor_general {
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-claro-contraste);
}

	.menu_lateral {
		width: var(--size-ancho-menu-lateral);
		height: 100%;
		background-color: var(--color-claro);
		box-shadow: var(--sombra-derecha);
		transition: var(--transicion);
	}

		.espacio_marca {
			display: block;
			height: var(--size-alto-titulo-marca);
			padding: var(--size-u3);
		}

			.espacio_marca .contenedor_logotipo {
				height: 40px;
				width: 40px;
				overflow: hidden;
			}

			.espacio_marca .contenedor_logotipo img {
				display: block;
				width: 100%;
			}

			.espacio_marca .contenedor_titulo_marca {
				height: 40px;
				width: calc(100% - 40px);
				padding-left: 20px;
				line-height: 40px;
			}

		.menu {
			display: block;
			width: var(--size-ancho-menu-lateral);
			height: calc(100% - var(--size-alto-titulo-marca));
			overflow-y: auto;
			overflow-x: hidden;
		}

			.menu .elemento {
				display: block;
				height: 60px;
				width: 100%;
				line-height: 40px;
				padding: var(--size-u1) var(--size-u3);
				transition: var(--transicion);
			}

			.menu .elemento:hover {
				background-color: var(--color-claro-contraste);
			}

			.menu .elemento a {
				color: inherit;
				display: block;
				height: 100%;
				width: 100%;
				text-decoration: none;
			}

			.menu .elemento a .icono_elemento {
				text-align: center;
				height: 40px;
				width: 40px;
			}

			.menu .elemento a .titulo_elemento {
				margin-left: 10px;
				margin-right: 10px;
				width: calc(100% - 90px);
			}

			.menu .elemento a .notificaciones_elemento {
				text-align: center;
				font-weight: bold;
				height: 30px;
				width: 30px;
				margin-top: 5px;
				margin-bottom: 5px;
				line-height: 30px;
				border-radius: 100%;
			}
				 .menu .elemento a .notificaciones_elemento p {
					display: block;
					line-height: 30px;
				 }

	/*Estados y colores*/
	.activo_bg {
		color: var(--color-claro);
		background-color: var(--color-primario);
	}

	.contenedor_datos {
		width: calc(100% - var(--size-ancho-menu-lateral));
		height: 100%;
		transition: var(--transicion);
	}

		.header {
			display: block;
			width: 100%;
			height: var(--size-alto-titulo-marca);
			padding-top: var(--size-u2);
		}

			.header .componentes_header {
				display: block;
				width: calc(100% - var(--size-u8));
				height: calc(var(--size-alto-titulo-marca) - var(--size-u4));
				margin-left: var(--size-u4);
			}

				.header .componentes_header .datos_usuario {
					height: 100%;
				}

					.header .componentes_header .datos_usuario .icono_usuario {
						cursor: pointer;
						user-select: none;
						height: 100%;
						width: calc(var(--size-alto-titulo-marca) - var(--size-u4));
						line-height: calc(var(--size-alto-titulo-marca) - var(--size-u4));
						text-align: center;
					}

						.header .componentes_header .datos_usuario .icono_usuario img {
							display: block;
							width: 100%;
						}

					.header .componentes_header .datos_usuario .informacion_usuario {
						width: calc(var(--size-u0) * 2);
						margin-left: var(--size-u2);
					}

						.header .componentes_header .datos_usuario .informacion_usuario p {
							display: block;
							width: 100%;
							line-height: calc((var(--size-alto-titulo-marca) - var(--size-u6))/2);
						}
						
						.header .componentes_header .datos_usuario .informacion_usuario p:first-child {
							margin-top: var(--size-u1);
						}

					.header .componentes_header .datos_usuario .icono_herramientas {
						cursor: pointer;
						user-select: none;
						width: var(--size-u2);
						line-height: calc(var(--size-alto-titulo-marca) - var(--size-u4));
						text-align: center;
					}

				.header .componentes_header .busqueda {
					height: 100%;
				}

					.header .componentes_header .busqueda input[type="text"] {
						margin-top: var(--size-u1);
						background-color: transparent;
						outline: none;
						border: solid var(--borde-size-general) var(--borde-color-general);
						padding: 0px var(--size-u1);
						line-height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						width: calc(var(--size-u0) * 3);
						border-top-left-radius: var(--size-u2);
						border-bottom-left-radius: var(--size-u2);
					}

					.header .componentes_header .busqueda .contenedor_icono {
						margin-top: var(--size-u1);
						cursor: pointer;
						user-select: none;
						text-align: center;
						height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						line-height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						width: calc(var(--size-alto-titulo-marca) - var(--size-u6));
						border-top-right-radius: var(--size-u2);
						border-bottom-right-radius: var(--size-u2);
					}

				.header .componentes_header .notificaciones {
					cursor: pointer;
					user-select: none;
					text-align: center;
					height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
					line-height: calc(var(--size-alto-titulo-marca) - var(--size-u6));
				}

					.header .componentes_header .notificaciones i {
						display: block;
						width: 100%;
						height: 100%;
						line-height: inherit;
					}

		.contenedor_secciones {
			display: block;
			width: 100%;
			height: calc(100% - var(--size-alto-titulo-marca));
			padding: var(--size-u1) var(--size-u2) var(--size-u2) var(--size-u2);
			overflow-x: hidden;
			overflow-y: auto;
		}

			.contenedor_secciones .elemento {
				border-radius: var(--size-border-radius);
				padding: var(--size-u1);
			}

				.contenedor_secciones .elemento .titulo_elemento {
					height: var(--size-u2);
				}
				
					.contenedor_secciones .elemento .titulo_elemento .menu_elemento {
						cursor: pointer;
						user-select: none;
					}

				.contenedor_secciones .elemento .cuerpo_elemento {
					display: block;
					width: 100%;
					height: calc(100% - var(--size-u2));
				}

			.contenedor_secciones .elemento.grafico_datos {
				grid-column: 1 / 10;
				grid-row: 1 / 7;
			}

			.contenedor_secciones .elemento.trafico_datos {
				grid-column: 10 / 13;
				grid-row: 1 / 7;
			}

			.contenedor_secciones .elemento.estado_de_usuarios {
				grid-column: 1 / 10;
				grid-row: 7 / 13;
			}

			.contenedor_secciones .elemento.bloque_informativo {

			}

				.contenedor_secciones .elemento.bloque_informativo.uno {
					grid-column: 10 / 13;
					grid-row: 7 / 9;
				}

				.contenedor_secciones .elemento.bloque_informativo.dos {
					grid-column: 10 / 13;
					grid-row: 9 / 11;
				}

				.contenedor_secciones .elemento.bloque_informativo.tres {
					grid-column: 10 / 13;
					grid-row: 11 / 13;
				}

/*Gráficos y Canvas*/
.grafico {
	display: block;
	height: 100%;
	width: 100%;
}

	.grafico .titulo_grafico {
		display: block;
		width: 100%;
		height: var(--size-u2);
		line-height: var(--size-u2);
	}

	.grafico .cuerpo_grafico {
		height: calc(100% - var(--size-u2));
		width: 100%;
	}

/*Sector de stats por meses*/
.trafico {
	grid-gap: var(--size-u1);
}

	.trafico .primer_mes {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
	}

	.trafico .segundo_mes {
		grid-column: 1 / 13;
		grid-row: 5 / 9;
	}

	.trafico .tercer_mes {
		grid-column: 1 / 13;
		grid-row: 9 / 13;
	}

/*Bloques informativos*/
.elemento.bloque_informativo {
	padding: var(--size-u2);
}

	.elemento.bloque_informativo .bloque_titulo {
		line-height: var(--size-u2);
	}

	.elemento.bloque_informativo .bloque_datos {
		height: calc(100% - var(--size-u4));
	}

		.elemento.bloque_informativo .monto {
			width: 70%;
			text-align: left;
		}

		.elemento.bloque_informativo .porcentaje {
			width: 30%;
			text-align: center;
		}

	.elemento.bloque_informativo .bloque_footer {
		line-height: var(--size-u2);
	}

/*Tabla*/
.tabla {
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

	.tabla table {
		width: 100%;
		border-collapse: collapse;
	}

		.tabla table thead {
			line-height: var(--size-u3);
		}

			.tabla table thead tr th {
				padding-left: var(--size-u2);
				padding-right: var(--size-u2);
			}

		.tabla table tbody {
		}

			.tabla table tbody tr {
				height: var(--size-u4);
				overflow: hidden;
			}

				.tabla table tbody tr td {
					padding-left: var(--size-u2);
					padding-right: var(--size-u2);
				}

					.tabla table tbody tr td .avatar_usuario {
						height: var(--size-u4);
					}

						.tabla table tbody tr td .avatar_usuario .img_usuario {
							height: var(--size-u3);
							width: var(--size-u3);
						}

							.tabla table tbody tr td .avatar_usuario .img_usuario img {
								display: block;
								width: 100%
							}

							.tabla table tbody tr td .avatar_usuario p {
								margin-left: var(--size-u1);
							}

/*Chip de identificador*/
.chip {
	display: block;
	height: var(--size-u2);
	line-height: var(--size-u2);
	border-radius: var(--size-u1);
}

/*Checkbox como Switch*/
.switch {
	display: inline-block;
	position: relative;
	line-height: var(--size-u3);
}
	
	.switch .switch_input {
		position: relative;
		top: 0;
		left: 0;
		width: var(--size-u4);
		height: var(--size-u2);
		opacity: 0;
		z-index: 0;
	}

		.switch_input:checked + .switch_label:before {
			background-color: var(--color-deshabilitado);
		}
		
		.switch_input:checked + .switch_label:after {
			left: var(--size-u2);
			background-color: var(--color-primario);
		}

	.switch .switch_label {
		display: block;
		cursor: pointer;
		user-select: none;
	}

		.switch_label:before {
			content: '';
			position: absolute;
			top: calc(var(--size-u1) / 2);
			left: 0;
			width: var(--size-u4);
			height: var(--size-u2);
			background-color: var(--color-deshabilitado);
			border-radius: var(--size-u2);
			z-index: 1;
			transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
		}

		.switch_label:after {
			content: '';
			position: absolute;
			top: calc(var(--size-u1) / 2);
			left: 0;
			width: var(--size-u2);
			height: var(--size-u2);
			background-color: var(--color-oscuro);
			border-radius: 50%;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
			z-index: 2;
			transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
			transition-property: left, background-color;
		}

/*Dropdown*/
.dropdown {
	height: inherit;
	line-height: inherit;
}

.dropdown-lista {
	display: none;
	position: absolute;
	z-index: 1;
	color: var(--color-oscuro);
	box-shadow: var(--sombra);
	background-color: var(--color-claro);
	overflow: hidden;
}

	.dropdown-lista.forma-gota {
		border-top-right-radius: var(--size-u1);
		border-bottom-left-radius: var(--size-u1);
		border-bottom-right-radius: var(--size-u1);
	}

.dropdown-lista a {
	color: inherit;
	text-decoration: none;
	display: block;
	text-align: left;
	height: var(--size-u4);
	line-height: var(--size-u4);
	padding: 0px var(--size-u2);
	transition: var(--transicion);
}

	.dropdown-lista a i {
		margin-right: var(--size-u1);
	}

	.dropdown-lista a:hover {
		color: var(--color-claro);
		background-color: var(--color-primario);
	}

.show {
	display:block;
}

/*Redimensiones*/
/*1366*/
@media screen and (max-width: 1366px) {
	/*Menú lateral y header*/
	:root {
		--size-alto-titulo-marca: 100px;
	}
	
	.header {
		height: var(--size-alto-titulo-marca);
		padding-top: var(--size-u2);
	}

	.espacio_marca {
		padding: var(--size-u3);
	}

	/*Bloques informativos*/
	.elemento.bloque_informativo {
		padding: var(--size-u1);
	}

		.elemento.bloque_informativo .bloque_titulo {
			line-height: var(--size-u1);
		}

		.elemento.bloque_informativo .bloque_datos {
			height: calc(100% - var(--size-u2));
		}

			.elemento.bloque_informativo .monto {
				width: 70%;
				text-align: left;
			}

			.elemento.bloque_informativo .porcentaje {
				width: 30%;
				text-align: center;
			}

		.elemento.bloque_informativo .bloque_footer {
			line-height: var(--size-u1);
		}

	.texto_mediano {
		font-size: var(--size-u2);
	}
	
	.texto_grande {
		font-size: var(--size-u3);
	}

	.bloque_titulo.texto_nivel_02,
	.bloque_footer.texto_nivel_02 {
		/*Convertir a nivel 3*/
		font-size: var(--size-fuente-lvl-04);
	}
}